.config/nvim/.undodir/**
nvim/.undodir/**
!.config/nvim/.undodir/.gitkeep
!nvim/.undodir/.gitkeep
nvim/lazy-lock.json
dot-config/tmux/plugins/**
!dot-config/tmux/plugins/.gitkeep
.config/tmux/plugins/**
!.config/tmux/plugins/.gitkeep
